<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <!-- 
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.yonyou.nc.codevalidator.runtime-plugin.objectContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.yonyou.nc.codevalidator.runtime.plugin.actions.RuleConfigAction"
               icon="images/editconfig.gif"
               id="com.yonyou.nc.codevalidator.runtime.plugin.actions.RuleConfigAction"
               label="NC规则检查配置">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.yonyou.nc.codevalidator.runtime.plugin.javaProject"
            objectClass="org.eclipse.core.runtime.IAdaptable">
         <action
               class="com.yonyou.nc.codevalidator.runtime.plugin.actions.CodeValidatorAction"
               icon="images/run.gif"
               id="com.yonyou.nc.codevalidator.runtime-plugin.codevalidatoraction"
               label="NC规则检查">
         </action>
      </objectContribution>
   </extension>-->
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.yonyou.nc.codevalidator.runtime.plugin.console.RuleRuntimeConsoleFactory"
            label="RuleCheckConsole">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.yonyou.nc.codevalidator.runtime.plugin.rulevalidator"
            name="Rule Validator">
      </category>
      <view
            allowMultiple="false"
            category="com.yonyou.nc.codevalidator.runtime.plugin.rulevalidator"
            class="com.yonyou.nc.codevalidator.runtime.plugin.viewer.result.RuleExecResultViewer"
            icon="images/resultview.gif"
            id="com.yonyou.nc.codevalidator.runtime.plugin.ruleresult"
            name="规则执行结果"
            restorable="true">
      </view>
      <view
            category="com.yonyou.nc.codevalidator.runtime.plugin.rulevalidator"
            class="com.yonyou.nc.codevalidator.runtime.plugin.viewer.config.RuleConfigViewPart"
            icon="images/configview.gif"
            id="com.yonyou.nc.codevalidator.runtime.plugin.ruleconfig"
            name="规则配置"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.yonyou.nc.codevalidator.runtime.plugin.preferences.NCRuleConfigPreferencePage"
            id="com.yonyou.nc.codevalidator.runtime.plugin.preferences"
            name="规则配置首选项">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.yonyou.nc.codevalidator.runtime.plugin.perspective.RulePerspectiveFactory"
            fixed="false"
            icon="images/rule.gif"
            id="com.yonyou.nc.codevalidator.runtime.plugin.perspective.rule"
            name="规则执行">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.yonyou.nc.codevalidator.runtime.plugin.editor.RuleConfigEditorPart"
            default="false"
            icon="images/editconfig.gif"
            id="com.yonyou.nc.codevalidator.runtime.plugin.ruleconfigeditor"
            name="规则配置编辑器">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.yonyou.nc.codevalidator.runtime.plugin.preferences"
            class="com.yonyou.nc.codevalidator.runtime.plugin.preferences.GlobalConfigFilePreferencePage"
            id="com.yonyou.nc.codevalidator.runtime.plugin.globalConfig"
            name="全局配置文件">
      </page>
   </extension>

</plugin>
