<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
	<session-factory>
		<!-- Oracle -->
		<property name="connection.driver.class">oracle.jdbc.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@20.10.80.215:1521:ORCL</property>
		<property name="connection.username">ncrcc</property>
		<property name="connection.password">ncrcc</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.OracleDialect</property>
		
		<!-- Postgres 
		<property name="connection.driver.class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://20.1.83.74:5432/ncrcc</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">postgres</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		-->
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!--连接池配置，c3p0连接池是Hibernate推荐使用的连接池-->
		<property name="c3p0.min_size">5</property>
		<property name="c3p0.max_size">20</property>
		<property name="c3p0.timeout">1800</property>
		<property name="c3p0.max_statements">50</property>
		
		<!-- 对象与数据库表格映像文件 -->
		<mapping class="com.yonyou.nc.codevalidator.persistence.entity.ExecuteRecordVO"></mapping>
		<mapping class="com.yonyou.nc.codevalidator.persistence.entity.ExecuteUnitVO"></mapping>
		<mapping class="com.yonyou.nc.codevalidator.persistence.entity.RuleDefinitionVO"></mapping>
		<mapping class="com.yonyou.nc.codevalidator.persistence.entity.RuleExecuteResultVO"></mapping>

	</session-factory>
</hibernate-configuration>